# MongoDB Connection String (Atlas or Local)
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/?appName=appName

# Application Port
PORT=8080

# Web Dashboard Auth Credentials (format: username:password)
ADMIN_AUTH=admin:admin
